<div class="p-fluid">
	<form #f="ngForm">
    <div class="p-field">
    	<label>Designation</label>
      <input type="text" pInputText name="designation" required [(ngModel)]="article.designation">
    </div>

    <div class="p-field">
    	<label>Prix</label>
      <input type="number" pInputText name="price" required [(ngModel)]="article.price">
    </div>

    <div class="p-field">
    	<label>Unité</label>
      <input type="text" pInputText name="unity" required [(ngModel)]="article.unity">
    </div>

    <div class="p-field" align="right">
    	<button 
    		pButton 
    		[label]="config.data.action === 'add' ? 'Ajouter' : 'Modifier'" 
    		[disabled]="f.invalid" 
    		(click)="onSubmit()"
    	></button>
    </div>
	</form>
</div>