<div class="p-fluid">
	<form [formGroup]="supplierForm">
    <div class="p-field">
    	<label>Nom *</label>
      <input type="text" pInputText formControlName="name" maxlength="50">
    </div>

    <div class="p-field">
    	<label>NIF *</label>
      <input type="text" pInputText formControlName="nif">
    </div>
    
    <div class="p-field">
    	<label>STAT *</label>
      <input type="text" pInputText formControlName="stat">
    </div>
    
    <div class="p-field">
    	<label>Téléphone *</label>
      <input type="text" pInputText formControlName="phone" minlength="10" maxlength="10">
      <span>Numero valide: 032*, 033*, 034*, 039*</span>
    </div>
    
    <div class="p-field">
    	<label>Adresse *</label>
      <input type="text" pInputText formControlName="address" maxlength="20">
    </div>
    
    <div class="p-field">
    	<label>TVA (%)</label>
      <input type="number" pInputText formControlName="tva" min="1" max="100">
    </div>
    
    <div class="p-field">
    	<label>Expiration après (jours) *</label>
      <input type="number" pInputText formControlName="expiration" min="1">
    </div>
    
    <div class="p-field">
    	<label>Méthode de payement *</label>
      <p-selectButton [options]="payementOptions" formControlName="payement"></p-selectButton>
    </div>

    <div class="p-field" align="right">
    	<button 
    		pButton 
    		[label]="config.data.action === 'add' ? 'Ajouter' : 'Modifier'" 
    		[disabled]="supplierForm.invalid" 
    		(click)="onSubmit()"
    	></button>
    </div>
	</form>
</div>