.app-layout{
	width: 100%;
	background: var(--surface-c);
	@media (screen and min-width: 768px){
		display: flex;
		height: 100%;
	}
	.app-navbar{
		width: 200px;
	}
	.app-content{
		width: 100%;
		overflow: auto;
	}
}