<nav>
	<h3 class="banner">Application bon de commande</h3>
	<div class="links">
		<a routerLink="/supplier" routerLinkActive="active"><i class="pi pi-home p-mr-2"></i> Fournisseurs</a>
		<a routerLink="/inCharge" routerLinkActive="active"><i class="pi pi-user p-mr-2"></i> Responsables</a>
		<a routerLink="/orderForm/form" routerLinkActive="active"><i class="pi pi-file-o p-mr-2"></i>Bon de commande</a>
		<a routerLink="/orderForm/list" routerLinkActive="active"><i class="pi pi-file-o p-mr-2"></i>Liste</a>
	</div>
</nav>
